<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
        <link rel="icon" href= "{{ url_for('static',filename='images/logo2_icon.ico') }}">
        {% block title %}
        {% endblock %}
        
    </head>
    <body id="login-page">
        <div class="error-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{"Error: "+ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="login-hover-card-noanim">

            <div id="banner" >
                <img src="{{ url_for('auth.static',filename='images/banner.png') }}">
                <a href="/"><img src="{{ url_for('static',filename='images/logo2.png') }}" id="loginlogo"></a>
            </div>

            <div id="form_-noanim">
                {% block form %}
                {% endblock %}
                
            </div>
            
        </div>              
      </body>
</html>