<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
        <link rel="icon" href= "{{ url_for('static',filename='images/logo2_icon.ico') }}">
        {% block title %}
        {% endblock %}
        
    </head>
    <body id="login-page">
        <div class="error-container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{"Error: "+ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="login-hover-card">
            <div class="form_">
                {% block form %}
                {% endblock %}
                
            </div>
            
        </div>              
      </body>
</html>