:root{
    --topnavbar-height: 80px;
}

html{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.content{
    display: flex;
    flex-flow: column wrap;
    color: white;
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 21px;
}
.welcome{
    position: relative;
    display: flex;
    flex-direction: column wrap;

    padding-top: 150px;
    left: 100px;
    width: 30%;
}
.welcome h1{
    line-height: 80px;
    font-weight: 300;
    font-size: 60px;
    color: black;
}

.error-container{
    position: fixed;
    display: flex;
    top: 40px;
    left:50%;
    transform: translate(-50%, 0);
    z-index: 999;

    background-color: rgb(255, 225, 225);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transform-origin:0;
    visibility: hidden;
    animation: error_popup .2s ease-out .1s forwards;
}
@keyframes error_popup{
    0%   {     
    scale: 0%;
    visibility: visible;
    }
    80%   { 
    scale: 110%;
    visibility: visible;
    }
    100% { 
    scale: 100%;
    visibility: visible;
    } 
}
.flashes{
    padding: 6px 20px 6px 20px;

    color: rgb(255, 58, 58);
    list-style-type: none;
}

.topnavbar{
    display: flex;
    position: fixed;
    top:0;
    height: var(--topnavbar-height);
    z-index: 10;
    width: 100%;
    justify-content: center;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topnav-left-section{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    top:auto;
    bottom: auto;
}
.topnav-left-section h1{
    color:black;
    background-color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 0 30px 0 0;
    padding: 0 30px 0 30px;
    line-height: var(--topnavbar-height);
    height: var(--topnavbar-height);

}
#topnavbar-logo{
    width: 60px;
    height: auto;
    padding: 10px 30px 10px 30px;
}
.topnav-links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    top:auto;
    bottom: auto;
}
.topnav-links a{
    padding: 0 20px 0 20px;
    line-height: var(--topnavbar-height);
    height: var(--topnavbar-height);
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    &:hover{background-color: rgb(196, 76, 36);
    transition: 0.3s ease-in-out;}
}
.topnav-right-section{
    display: flex;
    justify-content: flex-end;
    width: 25%;

    display: flex;
    top:auto;
    bottom: auto;
}
.dropdown{
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding-right: 30px;
}
.dropdown-button{
    position: relative;
    line-height: var(--topnavbar-height);
    height: var(--topnavbar-height);
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    text-align: right;
    background-color: inherit;
}
.dropdown-content{
    z-index: -1;
    display: none;
    position: absolute;
    padding-top:var(--topnavbar-height);
    min-width: 100%;
    background-color: rgb(196, 76, 36);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: dropdown .3s ease-in;
}
@keyframes dropdown {
    0%   { 
    transform: translateY(-100%); 	
    opacity: 0%;	
    }
    100% { 
    transform: translateY(0%); 
    opacity: 100%;
    } 
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    &:hover{background-color: black;}
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

#login-page{
    background-color: white;
}

#login-hover-card-noanim{
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.3);
}
#login-hover-card{
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.3);
    animation: login-hover-card .8s ease-out;
}
@keyframes login-hover-card {
    0%   { 
    transform: translateY(10%); 	
    opacity: 0%;	
    }
    100% { 
    transform: translateY(0%); 
    opacity: 100%;
    } 
}

#banner{
    position: relative;
    width: 50%;
    height: 100%;
    float:left;
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner a{
    position: absolute;
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}
#banner a img{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

#form_{
    width: 50%;
    height: 100%;
    position: relative;
    float:right;
}

#form_-noanim{
    width: 50%;
    height: 100%;
    position: relative;
    float:right;
}

#form_-noanim form{
    font-size: x-large;
    color: black;
    text-align: left;
    border-radius: 25px;
    padding: 20px;

    width: 60%;
    margin: 50px auto;

    overflow: hidden;
}
#form_ form{
    font-size: x-large;
    color: black;
    text-align: left;
    border-radius: 25px;
    padding: 20px;

    width: 60%;
    margin: 50px auto;

    overflow: hidden;
    visibility: hidden;
    animation: form .3s ease-out .4s forwards;
}
@keyframes form{
    0%   { 
    transform: translateY(10%); 	
    opacity: 0%;	
    visibility: visible;
    }
    100% { 
    transform: translateY(0%); 
    opacity: 100%;
    visibility: visible;
    } 
}

#form_ .input-wrapper{
    position: relative;
    height: 50px;
    margin: 0 auto 30px auto;
}
#form_ input{
    box-sizing: border-box;
    font-size: medium;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s ease all;
    &:focus{
        box-shadow: 0 1px 0 0 rgb(75, 75, 75);
    }
    &::placeholder {
        color: transparent;
      }
}

#form_ label{
    position: absolute;
    top: 17px;
    left: 15px;
    color: rgb(168, 168, 168);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    font-size: medium;
}

#form_ input:focus + label,
#form_ input:not(:placeholder-shown) + label {
  /* Move the label above the button and scale it down */
  transform: translateY(-70%) scale(0.75);
}


#form_ input.button{
    display: block;
    border-radius: 15px;
    color: white;
    background: linear-gradient(20deg, rgb(0, 0, 0) , rgb(255, 114, 67));
    cursor: pointer;
    padding: 10px
}
#form_ input.button:hover{

    background: linear-gradient(20deg, rgba(0, 0, 0, 1) , rgb(196, 52, 0));

}



#form_-noanim .input-wrapper{
    position: relative;
    height: 50px;
    margin: 0 auto 30px auto;
}
#form_-noanim input{
    box-sizing: border-box;
    font-size: medium;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s ease all;
    &:focus{
        box-shadow: 0 1px 0 0 rgb(75, 75, 75);
    }
    &::placeholder {
        color: transparent;
      }
}

#form_-noanim label{
    position: absolute;
    top: 17px;
    left: 15px;
    color: rgb(168, 168, 168);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    font-size: medium;
}

#form_-noanim input:focus + label,
#form_-noanim input:not(:placeholder-shown) + label {
  /* Move the label above the button and scale it down */
  transform: translateY(-70%) scale(0.75);
}


#form_-noanim input.button{
    display: block;
    border-radius: 15px;
    color: white;
    background: linear-gradient(20deg, rgb(0, 0, 0) , rgb(255, 114, 67));
    cursor: pointer;
    padding: 10px
}
#form_-noanim input.button:hover{

    background: linear-gradient(20deg, rgba(0, 0, 0, 1) , rgb(196, 52, 0));

}

.alt{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.alt p{
    font-size: small;
    color: rgb(109, 109, 109);
    text-align: center;
}

.bottombar{
    z-index: 1;
    display: flex;
    height: 100px;
    margin-top:auto;
    width: 100%;
    justify-content:center;
    background-color: black;
}
.bottombar h1{
    color: white;
    font-size: small;
    font-weight: 300;
    line-height: 80px;
    height: 80px;
}