:root{
    --topnavbar-height: 180px;
}

html{
    height: 100%;
}
body{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0px;
    background: radial-gradient(rgb(208, 208, 208),rgb(146, 146, 146)95%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.cover{
    height:100%;
    backdrop-filter: 10px blur;
}

.content{
    display: flex;
    flex-flow: column wrap;
    color: white;
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 21px;
}
.welcome{
    justify-content: center;
    gap: 200px;
    position: relative;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    height: 700px;
    padding-top: 115px;
    width: 100%;
}
.welcome h1{
    line-height: 80px;
    font-weight: 300;
    font-size: 60px;
    color: white;
}
.welcome-card{
    display: flex;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.welcome img{
    height: 590px;
    width: auto;
}
.welcome p{
    font-weight: 300;
    text-align: center;
    margin-top: 210px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 50px;
    position: absolute;
    color: black;
    background-color: white;

}

.error-container{
    position: fixed;
    display: flex;
    top: 40px;
    left:50%;
    transform: translate(-50%, 0);
    z-index: 999;

    background-color: rgb(255, 225, 225);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    transform-origin:0;
    visibility: hidden;
    animation: error_popup .2s ease-out .1s forwards;
}
@keyframes error_popup{
    0%   {     
    scale: 0%;
    visibility: visible;
    }
    80%   { 
    scale: 110%;
    visibility: visible;
    }
    100% { 
    scale: 100%;
    visibility: visible;
    } 
}
.flashes{
    padding: 6px 20px 6px 20px;

    color: rgb(255, 58, 58);
    list-style-type: none;
}

.topnavbar{
    display: flex;
    position: fixed;
    flex-direction: column;
    top:0;
    height: var(--topnavbar-height);
    z-index: 10;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav-top-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    padding-bottom: 5px;

}
.socials{
    padding: 20px;
    justify-content: space-around;
    display: flex;
    width: 20%;
    height: 30px;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.579);
}
.socials a{
    color: rgba(128, 128, 128, 0.579);
    padding: 5px;
    &:hover{color: rgb(196, 76, 36)}
}
.logo{
    width: 80%;
}
.logo h1{
    text-align: center;
    color:black;
    font-size: 40px;
    font-weight: 300;
}
.top-end{
    padding: 20px;
    width: 20%;
}

.topnav-bottom-section{
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 30%;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.topnav-left-section{
    display: flex;
    justify-content: flex-end;
    width: 25%;;
}
.topnav-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;

    border-top: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right,  transparent, rgb(0,0,0), transparent);


}
.topnav-links a{
    padding: 0 20px 0 20px;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    color: black;
    transition: 0.3s ease-in-out;
    &:hover{background-color: rgb(196, 76, 36); color: white;
    transition: 0.2s ease-in-out;}
}
.topnav-right-section{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    height: 100%;
    line-height: 400%;

    top:auto;
    bottom: auto;
}
.login-signup-link{
    color: black;
    padding: 10px;
    padding-right: 30px;
    text-decoration: none;
    line-height: 36px;
    &:hover{color: rgb(196, 76, 36);}
}
.dropdown{
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding-right: 30px;
}
.dropdown-button{
    position: relative;
    height: 47.12px;
    line-height: 47.12px;
    font-size: inherit;
    border: none;
    outline: none;
    color: black;
    font-family: inherit;
    text-align: right;
    background-color: inherit;
    transition: .2s;
}
.dropdown-content{
    z-index: -1;
    display: none;
    position: absolute;
    padding-top:var(--topnavbar-height);
    min-width: 100%;
    line-height: normal;
    background-color: rgb(196, 76, 36);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: dropdown .2s ease-in;
}
@keyframes dropdown {
    0%   { 
    transform: translateX(100%); 	
    opacity: 0%;	
    }
    100% { 
    transform: translateX(0%); 
    opacity: 100%;
    } 
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    &:hover{background-color: black;}
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown:hover .dropdown-button{
    color: white;
}
.dropdown:hover body{
    color: white;
}

#login-page{
    background-color: white;
}

#login-hover-card-noanim{
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.3);
}
#login-hover-card{
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 80px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 80px 0 rgba(0, 0, 0, 0.3);
    animation: login-hover-card .8s ease-out;
}
@keyframes login-hover-card {
    0%   { 
    transform: translateY(10%); 	
    opacity: 0%;	
    }
    100% { 
    transform: translateY(0%); 
    opacity: 100%;
    } 
}

#banner{
    position: relative;
    width: 50%;
    height: 100%;
    float:left;
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner a{
    position: absolute;
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
}
#banner a img{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

#form_{
    width: 50%;
    height: 100%;
    position: relative;
    float:right;
}

#form_-noanim{
    width: 50%;
    height: 100%;
    position: relative;
    float:right;
}

#form_-noanim form{
    font-size: x-large;
    color: black;
    text-align: left;
    border-radius: 25px;
    padding: 20px;

    width: 60%;
    margin: 50px auto;

    overflow: hidden;
}
#form_ form{
    font-size: x-large;
    color: black;
    text-align: left;
    border-radius: 25px;
    padding: 20px;

    width: 60%;
    margin: 50px auto;

    overflow: hidden;
    visibility: hidden;
    animation: form .3s ease-out .4s forwards;
}
@keyframes form{
    0%   { 
    transform: translateY(10%); 	
    opacity: 0%;	
    visibility: visible;
    }
    100% { 
    transform: translateY(0%); 
    opacity: 100%;
    visibility: visible;
    } 
}

#form_ .input-wrapper{
    position: relative;
    height: 50px;
    margin: 0 auto 30px auto;
}
#form_ input{
    box-sizing: border-box;
    font-size: medium;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s ease all;
    &:focus{
        box-shadow: 0 1px 0 0 rgb(75, 75, 75);
    }
    &::placeholder {
        color: transparent;
      }
}

#form_ label{
    position: absolute;
    top: 17px;
    left: 15px;
    color: rgb(168, 168, 168);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    font-size: medium;
}

#form_ input:focus + label,
#form_ input:not(:placeholder-shown) + label {
  /* Move the label above the button and scale it down */
  transform: translateY(-70%) scale(0.75);
}


#form_ input.button{
    display: block;
    border-radius: 15px;
    color: white;
    background: linear-gradient(20deg, rgb(0, 0, 0) , rgb(255, 114, 67));
    cursor: pointer;
    padding: 10px
}
#form_ input.button:hover{

    background: linear-gradient(20deg, rgba(0, 0, 0, 1) , rgb(196, 52, 0));

}



#form_-noanim .input-wrapper{
    position: relative;
    height: 50px;
    margin: 0 auto 30px auto;
}
#form_-noanim input{
    box-sizing: border-box;
    font-size: medium;
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s ease all;
    &:focus{
        box-shadow: 0 1px 0 0 rgb(75, 75, 75);
    }
    &::placeholder {
        color: transparent;
      }
}

#form_-noanim label{
    position: absolute;
    top: 17px;
    left: 15px;
    color: rgb(168, 168, 168);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    font-size: medium;
}

#form_-noanim input:focus + label,
#form_-noanim input:not(:placeholder-shown) + label {
  /* Move the label above the button and scale it down */
  transform: translateY(-70%) scale(0.75);
}


#form_-noanim input.button{
    display: block;
    border-radius: 15px;
    color: white;
    background: linear-gradient(20deg, rgb(0, 0, 0) , rgb(255, 114, 67));
    cursor: pointer;
    padding: 10px
}
#form_-noanim input.button:hover{

    background: linear-gradient(20deg, rgba(0, 0, 0, 1) , rgb(196, 52, 0));

}

.alt{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.alt p{
    font-size: small;
    color: rgb(109, 109, 109);
    text-align: center;
}

.bottombar{
    z-index: 1;
    display: flex;
    height: 100px;
    margin-top:auto;
    width: 100%;
    justify-content:center;
    background-color: black;
}
.bottombar h1{
    color: white;
    font-size: small;
    font-weight: 300;
    line-height: 80px;
    height: 80px;
}