{% extends "base.html" %}
{% block title %}About us &#8211; happypants{% endblock %}

{% block content %}
<div class="main-p-card">
    <h1>What the frick is this?</h1>
    <p><br/></p>

    <h2>What is the point of this website?</h2>
    <p>
        This webpage is just a testing environment for me to learn the python flask-api. I want to
        find out about all the features it comes with and does't come with and test them out. The goal
        is not to create the most meaningful or sophisticated website out there, but rather to learn and
        have fun doing it. It primarily serves me as preparation for a job I am starting soon!

        Don't let that discourage you from testing out all the features this webiste does have. Explore the site,
        give feedback, if you like and most importantly, enjoy your stay!
    </p>
    <p><br/></p>

    <h2>Who are you?</h2>
    <p>I am Joel Bolz, the creator of this website. I am studying humanoid robotics, which is definetely
        as cool as it sounds.
    </p>
    <p><br/></p>

    <h2>I think this is cool and want to try tweaking it myself!</h2>
    <p>Nice! I set up a GitHub-Repository for this flask-project. You are absolutely welcome to clone or
        even fork it to start changing it to your liking! You can find all my social links in the top left of
        the page, but for your convenience, here is the GitHub Link:
        <a class="text-link" href="https://github.com/joelbolz/HP-first-website" target="_blank">Github</a>.
    </p>
    <p><br/></p>

    <h2>What features are available right now for me to try?</h2>
    <p>Well, for now you only really can sing up, log in and navigate the pages a bit. I am currently working
        on implementing a chat feature, which will allow you to chat with other users personally or create groupchats.
        My plan is to make it end-to-end encrypted and thus making it secure and anonymous.<br><br>
    
    Further down the line, there may be some way to create a gallery (essentially copying instagram hehe) or other
        features that allow me to learn more about web development, flask and python!</p>
    <p><br/></p>

    <h2>Are you extending this page unnecessarily to test how your site manages overflow?</h2>
    <p>Yes.</p>
    <p><br/></p>    
</div>
{% endblock %}
