{% extends "base.html" %}
{% block title %}Home &#8211; happypants{% endblock %}
{% block content %}
<div class="welcome"> 
    <div class="welcome-message">
        <h1 id="Welcome-home">Welcome Home.</h1>
        <h1 id="Welcome-msg">{{welcome_message}}</h1>
    </div>

    <div class="welcome-card">
        <h1>Tend to what really deserves your time and let us take care of the rest.
            <p><br></p>
            <p><br></p>
            The only website you will ever want to use again.</h1>

        <a class="big-link" href="/auth/sign-up">GET STARTED</a>
        <p>Already have an account? <a id="existing-acc" href="/auth/login">Log in</a>!</p>

    </div>
</div>
{% endblock %}