{% extends "base.html" %}
{% block title %}Home &#8211; happypants{% endblock %}
{% block content %}
<div class="welcome"> 
    <h1>Welcome Home,<br/>{{current_user.username}}.</h1>
    <div class="welcome-card">
        <p>“Don't ever, for any reason, do anything
            <br/>for anyone, for any reason, ever, no
            <br/>matter what. No matter where, or who,
            <br/>or who you are with, or where you are
            <br/>going or... or where you've been...
            <br/>ever. For any reason, whatsoever.”
           <br/>— Michael Scott,</p>
        <img src="{{ url_for('general.static',filename='images/waves.png') }}">
    </div>
</div>
{% endblock %}