{% extends "base.html" %}
{% block title %}Home &#8211; happypants{% endblock %}
{% block content %}
<div class="content" id={{content_type}}>
    <div class="on-banner">
        <div class="home-msg">
            <h1>Welcome to happypants.</h1>
        </div>
        <div class="button-wrapper">
            <a class="sign-up-link" href="/auth//sign-up">GET STARTED</a>
        </div>
    </div>
    <div class="under-banner">
        <h2>a Flask Learning Project where You can do fun Shit like</h2>
        <div class="activities">
            <div class="activity-card">
                <a href="#"><img src="static/images/braille.png"></a>
                <h3>Rendering</h3>
                <p>Soon you will able to upload any image and render it with ASCII, or UNICODE braille characters.</p>
            </div>
            <div class="activity-card">
                <a href="/chat/info"><img src="static/images/chat.png"></a>
                <h3>Chatting</h3>
                <p>Chat with you friends in groups or in personal chats. All end-to-end-encrypted!</p>  
            </div>
            <div class="activity-card">
                <a href="/"><img src="static/images/explore.png"></a>
                <h3>Exploring</h3>
                <p>You can navigate this site and click random links that bring you to all the different urls, most of which serve no particular purpose!</p>
            </div>
            <div class="activity-card">
                <a href="https://github.com/joelbolz/HP-first-website" target="_blank"><img src="static/images/collab.png"></a>
                <h3>Collaborating</h3>
                <p>Want to learn more stuff about full-stack-development, flask or design-patterns? Join the project and add functionality yourself!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}