{% extends "auth.html" %}
{% block title %}
<title>Sign up &#8211; happypants</title>
{% endblock %}
{% block form %}

    <form action="#" method="post">
        <h1>Sign up</h1>
        <div class="input-wrapper">
            <input class="input" id="email" type="text" name="email" placeholder="Email"/>
            <label class="label" for="email">Email</label>
        </div>
        <div class="input-wrapper">
            <input id="username" type="text" name="usr" placeholder="Username"/>
            <label class="label" for="username">Username</label>

        </div>
        <div class="input-wrapper">
            <input id="password1" type="password" name="password1" placeholder="password1"/>
            <label class="label" for="password1">Password</label>

        </div>
        <div class="input-wrapper">
            <input id="password2" type="password" name="password2"  placeholder="password2"/>
            <label class="label" for="password2">Confirm password</label>
        </div>
        <div class="input-wrapper">
            <p><input class=button type="submit" name="submit" value="Sign up"></p>
        </div>
    </form>
    <div class="alt">
        <p>Already have an account? <a class="login" href="/login">Log in</a>!</p>
    </div>
{% endblock %}