<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
        <link rel="icon" href= "{{ url_for('static',filename='images/logo2_icon.ico') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <header class="topnavbar">
          <div class="topnav-left-section">
            <h1 id="home">happypants.</h1>
          </div>
          <nav class="topnav-links">
            <a class="home" href="/">HOME</a>
            <a class="dashboard" href="/dashboard">DASHBOARD</a>
            <a class="gallery" href="#">GALLERIES</a>
            <a class="dashboard" href="#">SERVICES</a>
            <a class="dashboard" href="#">ABOUT US</a>
          </nav>
          
          {% if not current_user.is_authenticated: %}
          <div class="topnav-right-section">
            <a id="login-link" href="/auth/login">Log in</a>
            <a id="singup-link" href="/auth/sign-up">Sign up</a>
          </div>
          {% else: %}
          <div class="topnav-right-section">
            <div class="dropdown">
              <button class="dropdown-button">{{current_user.username|e}}</button>
              <div class="dropdown-content">
                <a href="/dashboard">Dashboard</a>
                <a href="/dashboard">Settings</a>
                <a href="/auth/logout">Logout</a>
              </div>
            </div>
          </div>
          {% endif %}
        </header>
        <div class="content">
          {% block content %}
          {% endblock %} 
        </div>
        <footer class="bottombar">
          <h1>&#169; Joel Bolz 2024</h1>
        </footer>
         
      </body>
</html>